.main{
    display: inline-block;
    position: relative;
    width: 70%;
    left: 15%;
}
@media only screen and (max-width: 950px) {
    .main{
        width: 80%;
        left: 10%;
    }
}
.main button{
    width: 45%;
}
.btns{
    display: flex;
    justify-content: space-between;
}

.form-group{
    margin-top: 1em;
    display: flex; 
}

button{
    margin-top: 1em;
    width: 100%;
    margin-bottom: 2em;
}
