<div class="productsList">

    <div class="card"  *ngFor="let product of products">
        <img class = "card-img-top"  src={{product.image}}/>
        <div class="card-body">
        <a [title]="product.name + 'product.description'" [routerLink]="['/product', product.stockId]" class = "productTitle">
            <h5 class="card-title"> {{product.name}}</h5>
        </a>
        <p class="card-text">{{product.description}}</p>
        <h1>{{product.price | currency}}</h1>
        <div class="imgLike" (click) ="AddToWish(product.id,product.stockId)"></div>
    </div>
</div>

 
