<div class="productsList">
    <div class="productComponent" *ngFor="let product of products">
        
            <a [title]="product.name + 'product.description'"
                [routerLink]="['/product', product.id]" class = "productTitle">
                <img class = "imgProd" src={{product.img}}/>
            <h3>
                {{product.name}}
            </h3>
            </a>
        <h2>
            <p>
                {{product.price | currency}}
            </p>
        </h2>
        <h2>
            <p>
                {{product.description}}
            <p>
        </h2>
        <a>
            <img class = "imgLike" src="assets/img/like.png" />
        </a>
       
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
