<div class="title">
    <h1>Sign up</h1>
  </div>
  <div class="main">
    <div class="register">
      <div class="form-group">
        <input
          type="text"
          class="form-control form-control-sm"
          id="street"
          placeholder="Street"
        />
      </div>
      <div class="form-group">
        <input
          type="number"
          class="form-control form-control-sm"
          id="postal-code"
          placeholder="Postal Code"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          list="datalistOptions"
          class="form-control form-control-sm"
          id="state"
          placeholder="State"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-control-sm"
          id="city"
          placeholder="City"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-control-sm"
          id="country"
          placeholder="Country"
        />
      </div>
    </div>
    <div class="register">
      <div class="form-group">
        <input
          type="text"
          class="form-control form-control-sm"
          id="name"
          placeholder="Name"
        />
      </div>
      <div class="form-group">
        <input
          type="tel"
          class="form-control form-control-sm"
          id="phone"
          placeholder="Phone"
        />
      </div>
      <div class="form-group">
        <input
          type="email"
          class="form-control form-control-sm"
          id="email"
          placeholder="E-mail"
        />
      </div>
      <div class="form-group">
        <input
          type="date"
          class="form-control form-control-sm"
          id="date-of-birth"
          placeholder="Date of Birth"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-control-sm"
          id="login"
          placeholder="Login"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control form-control-sm"
          id="password"
          placeholder="Password"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          class="form-control form-control-sm"
          id="document"
          placeholder="Document"
        />
      </div>
    </div>
  </div>
  <div class="btns">
    <button id="cancel" class="btn btn-secondary btn-sm">Cancel</button>
    <button class="btn btn-primary btn-sm" (click)="save()">Save</button>
  </div>
  