.main{
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group{
    margin-top: 1em;
    display: flex; 
    width: 100%;
    max-width: 30em;
}

button{
    margin-top: 1em;
    width: 100%;
    max-width: 30em;  
    
}
form img{
    width: 2em;
    margin-right: 0.5em;
}
.imgUser{
    width: 2.5em;
    height: 2.3em;
    position: relative;
    margin-right: 0.5em;
   background: url("src/assets/img/user.svg");
   background-repeat: no-repeat;
}
  .imgPassword{
    width: 2.5em;
    height: 2.3em;
    margin-right: 0.5em;
   background: url("src/assets/img/password.svg");
   background-repeat: no-repeat;
}
