button{

}
button svg{
    margin-right: 10px;
}
.productDetail{
    display:flex;
    flex-direction: row;
  }
  .imgProd img{
    align-self: center;
    max-width: 100%;
  }
  .imgProd{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .purchaseImg{
    display:flex;
    width: 50%;
    flex-direction: column;
  }
  .purchaseImg button{
    margin-top: 2em;
    height: 4em;
    display: flex;
    font-size: 1.5em;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }

  
@media only screen and (max-width: 991px) {
    .detailsProduct h1{
      order: -1;
    }
    .purchaseImg{
      width: 100%;
    }
  }
  @media only screen and (max-width: 700px) {
    .purchaseImg a,img{
      width: 100%;
    }
    .detailsProduct h1{
      order: -1;
    }
    .productDetail{
        flex-direction: column;
    }
   
  }