.main{
    display: inline-block;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.register{
    width: 40%;
}

@media only screen and (max-width: 950px) {
    .main{
      flex-direction: column;
      width: 100%;

    }
    .register{

        height: auto;
        width: 100%;
        margin-bottom: 5em;
    }
}
.main button{
    width: 45%;
}
.btns{
    display: flex;
    justify-content: space-around;

   
}

.form-group{
    margin-top: 1em;
    display: flex; 
}
button{
    margin-top: 2em;
    width: 20%;
    margin-bottom: 2em;
}
