<div class="main">
    <div class="form-group">
      <input type="text" class="form-control" id="name"  placeholder="Name">
    </div>
    <div class="form-group">
      <input type="tel"  class="form-control" id="phone" placeholder="Phone">
    </div>
    <div class="form-group">
        <input type="email"  class="form-control" id="email" placeholder="E-mail">
      </div>
      <div class="form-group">
        <input type="date"  class="form-control" id="date-of-birth" placeholder="Date of Birth">
      </div>
      <div class="form-group">
        <input type="password"  class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="text"  class="form-control" id="document" placeholder="Document">
      </div>
    <div class="btns">
        <button class="btn btn-primary btn-lg">Save</button>
      <button type="submit" id="cancel" class="btn btn-secondary btn-lg">Cancel</button>
    </div>
</div>


