<app-top-bar></app-top-bar>
<div class="title">
  <h1>Purchases</h1>
</div>
<div class="card text-bg-primary mb-3" *ngFor="let purchase of purchases">
  <div class="row g-7">
    <div class="col-md-2 img">
      <img
        src={{purchase.product.image}}
        class="img-fluid rounded-start"
        
      />
    </div>

    <div class="col-md-10 card-content">
      <div class="card-body">
        <h5 class="card-title">{{purchase.product.name}}</h5>
        <p class="card-text"></p>
        <!-- <p class="card-text">Date of sale</p> -->
        <p class="card-text price">{{purchase.purchase_value | currency}}</p>
      </div>
      <div class="col-md-12 d-flex bt justify-content-end">
        <button [routerLink]="['/purchase-detail', purchase.id]" type="button" class="btn btn-secondary">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="26"
              height="26"
              fill="white"
              class="bi bi-list-check"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"
              />
            </svg>
          </div>
          Details
        </button>
      </div>
    </div>
  </div>
</div>
