<app-top-bar></app-top-bar>
<div class="title">
    <h1>Profile</h1>
  </div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item " role="presentation">
    <button
      class="nav-link "
      id="profile-tab"
      data-bs-toggle="tab"
      data-bs-target="#profile-tab-pane"
      type="button"
      role="tab"
      aria-controls="profile-tab-pane"
      aria-selected="false"
    >
      Profile
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="address-tab"
      data-bs-toggle="tab"
      data-bs-target="#address-tab-pane"
      type="button"
      role="tab"
      aria-controls="address-tab-pane"
      aria-selected="true"
    >
      My Address
    </button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div
    class="tab-pane fade"
    id="profile-tab-pane"
    role="tabpanel"
    aria-labelledby="profile-tab"
    tabindex="0"
  >
    <div class="main">
      <div class="register">
        <div class="form-group">
          <input
            type="text"
            class="form-control form-control-sm"
            id="name"
            placeholder="Name"
          />
        </div>
        <div class="form-group">
          <input
            type="tel"
            class="form-control form-control-sm"
            id="phone"
            placeholder="Phone"
          />
        </div>
        <div class="form-group">
          <input
            type="email"
            class="form-control form-control-sm"
            id="email"
            placeholder="E-mail"
          />
        </div>
        <div class="form-group">
          <input
            type="date"
            class="form-control form-control-sm"
            id="date-of-birth"
            placeholder="Date of Birth"
          />
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control form-control-sm"
            id="password"
            placeholder="Password"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control form-control-sm"
            id="document"
            placeholder="Document"
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade show active"
    id="address-tab-pane"
    role="tabpanel"
    aria-labelledby="address-tab"
    tabindex="0"
  >
  <div class="register">
    <div class="form-group">
      <input
        type="text"
        class="form-control form-control-sm"
        id="street"
        placeholder="Street"
      />
    </div>
    <div class="form-group">
      <input
        type="number"
        class="form-control form-control-sm"
        id="postal-code"
        placeholder="Postal Code"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        list="datalistOptions"
        class="form-control form-control-sm"
        id="state"
        placeholder="State"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control form-control-sm"
        id="city"
        placeholder="City"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control form-control-sm"
        id="country"
        placeholder="Country"
      />
    </div>
  </div>
  </div>
</div>
<div class="btns">
    <button id="cancel" class="btn btn-secondary btn-lg">Cancel</button>
    <button class="btn btn-primary btn-lg">Save</button>
  </div>