

.card{
    width: 100%;
    padding: 20px;
    margin: 0;
}
button{
    margin: 5px;
    width: 7em;
    height: 4em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.price{
    font-size: 1.5rem;
}
@media only screen and (max-width: 991px) {

    .row{
        display: flex;
        flex-direction: column;
    }
    

}
.card-title{
    margin-bottom: 1em;
}
a svg{
    margin-right: 1em;
}