<div class="card text-bg-primary mb-3">
  <div class="row g-7">
    <div class="col-md-2 img">
      <img
        src="../../assets/img/product.png"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>

    <div class="col-md-10 card-content">
      <div class="card-body">
        <h1 class="card-title">Product Name</h1>
        <div class="row">
          <div class="form-group col">
            <label >Purchase Amount</label>
            <input
              class="form-control"
              id="purchase-amount"
            disabled/>
          
          </div>
          <div class="form-group col">
            <label >Date of Purchase</label>
            <input
              class="form-control"
              id="date-purchase"
              disabled
            />
          
          </div>
          <div class="form-group col">
            <label >Payment Type</label>
            <input
              class="form-control"
             id="pyment-type"
            disabled/>
          </div>
          <div class="w-100"></div>
          <div class="form-group col">
            <label >NF Number</label>
            <input
              class="form-control"
             id="nf-number"
            disabled/>
          </div>
          <div class="form-group col">
            <label >Client Name</label>
            <input
              class="form-control"
             id="client-name"
            disabled/>
          </div>
          <div class="form-group col">
            <label >Client Document</label>
            <input
              class="form-control"
             id="client-document"
            disabled/>
          </div>
          <div class="w-100"></div>
          <div class="form-group col">
            <label >Client E-mail</label>
            <input
              class="form-control"
             id="client-email"
            disabled/>
          </div>
          <div class="form-group col">
            <label >Comfirmation number</label>
            <input
              class="form-control"
             id="confirmation-number"
            disabled/>
          </div>
          <div class="form-group col">
            <label >Client Phone</label>
            <input
              class="form-control"
             id="client-phone"
            disabled/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
