 <div class="main">
    <div class="form-group">
      <input type="text" class="form-control form-control-sm" id="street"  placeholder="Street">
    </div>
    <div class="form-group">
      <input type="number"  class="form-control form-control-sm" id="postal-code" placeholder="Postal Code">
    </div>
    <div class="form-group">
      <input type="text" list="datalistOptions" class="form-control form-control-sm" id="state" placeholder="State">
      <datalist id="datalistOptions">
        <option  *ngFor="let add of address" [value]="add.state">
      </datalist>
    </div>
    <div class="form-group">
      <input type="text" class="form-control form-control-sm" id="city" placeholder="City">
    </div>
    <div class="form-group">
      <input type="text" class="form-control form-control-sm" id="country" placeholder="Country">
    </div>
    
    <div class="btns">
      <button class="btn btn-success btn-sm">Save</button>
    <button type="submit" id="cancel" class="btn btn-secondary btn-sm">Cancel</button>
  </div>
</div>


