.main{
    text-align: center;
    width:100%;
   
}
form{
    display: inline-block;
    position: relative;
    width: 50%;

}
@media only screen and (max-width: 900px) {
    form{
        width: 70%;
    }
}
form button{
    width: 45%;
}
.btns{
    display: flex;
    justify-content: space-between;
}

.form-group{
    margin-top: 1em;
    display: flex; 
}

button{
    margin-top: 1em;
    width: 100%;
}
form img{
    width: 2em;
    margin-right: 0.5em;
}
.imgUser{
    width: 2.2em;
    height: 2.3em;
    position: relative;
    margin-right: 0.5em;
   background: url("src/assets/img/user.svg");
   background-repeat: no-repeat;
   opacity: 1;
}
.imgUser:hover{
    opacity: 1;
  }
  .imgPassword{
    width: 2.2em;
    height: 2.3em;
    margin-right: 0.5em;
   background: url("src/assets/img/password.svg");
   background-repeat: no-repeat;
   opacity: 1;
}
